$path: '../';
$fz: 16px;
$ff_ops: 'Open Sans', sans-serif;
$ff_ops-b: 'Open-Sans-Bold', sans-serif;
$ff_pop: 'Poppins', sans-serif;
$ff_pop-b: 'Poppins-Bold', sans-serif;
$ff_rob: 'Roboto', sans-serif;
$white: #fff;
$red: rgb(237, 28, 36);
$red-bg: rgb(233, 54, 51);
$black: rgb(26, 14, 0);
$grey: rgb(89, 89, 89);
$SpruceYellow: rgb(247, 172, 83);
