@font-face {
  font-family: "DejaVu_Sans";
  src: url("../../assets/fonts/DejaVuSans.eot");
  src: url("../../assets/fonts/DejaVuSans.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/DejaVuSans.woff2") format("woff2"),
    url("../../assets/fonts/DejaVuSans.woff") format("woff"),
    url("../../assets/fonts/DejaVuSans.ttf") format("truetype"),
    url("../../assets/fonts/DejaVuSans.svg#DejaVuSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
